<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DATAbasetest001.Properties.Settings.DB_A3E7DC_db1ConnectionString"
            connectionString="Data Source=sql6005.site4now.net;Initial Catalog=DB_A3E7DC_db1;User ID=DB_A3E7DC_db1_admin;Password=thefirstday2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>